<div class="home">
<h3>ようこそ</h3>
<p> 本の感想を共有できるちょっと変わったサイト</p>
<p>"Impressions" (インプレッションズ)です</p>
<p>まずはサインアップをしてその感動を皆さんと共有しましょう！</p>
<p><%= link_to "Sign up", signup_path, class: "btn btn-design" %></p>
<p>アカウントをお持ちの方はこちらから<%= link_to "ログイン", login_url %></p>
</div>