<h1>Forgot password</h1>

<div>
  <div>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="form">
      <%= f.label :email %>
      <%= f.email_field :email %>
      </div>

      <%= f.submit "Submit", class: "btn btn-design" %>
    <% end %>
  </div>
</div>